{% capture html %}
<ul class="is-hidden cd-dropdown-content">
  <li class="go-back"><a href="#0">Back</a></li>
  <li class="see-all"><a>{{ include.title }}</a></li>

  {% for entry in include.entries %}

    {% capture slug    %}/{{ entry.url | split: "/"   | last               }}{% endcapture %}
    {% capture current %}{{ entry.url | remove: slug | append: "/" | replace: "//", "/" }}{% endcapture %}

    {% if entry.placeholder != true and entry.url == include.context %}
      {% assign isOverview = true %}
    {% else %}
      {% assign isOverview = false %}
    {% endif %}

    {% if current == include.context or isOverview == true %}

      {% if isOverview != true %}
        {% capture children %}{% include nav-list.html context=entry.url entries=include.entries title=entry.title %}{% endcapture %}
      {% endif %}

      {% if isOverview != true and children contains 'child-link' %}
        {% assign hasChildren = true %}
      {% else %}
        {% assign hasChildren = false %}
      {% endif %}

      <li class="menu-item {% if page.url contains entry.url %}active{% endif %} {% if hasChildren %}has-children{% endif %}">
        {% if isOverview == true %}
          <a href="{{ site.baseurl }}{{ entry.url | remove: '.html' }}">Overview</a>
        {% elsif entry.placeholder == true %}
          <a href="#" class="placeholder-link" title="{{ entry.title }}">{{ entry.title }}</a>
        {% else %}
          <a class="child-link" href="{{ site.baseurl }}{{ entry.url | remove: '.html' }}" title="{{ entry.title }}">{{ entry.title }}</a>
        {% endif %}

        {% if hasChildren %}
          {{children}}
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% endcapture %}{{ html | rstrip | strip_newlines }}
