{% comment %}
based upon https://codyhouse.co/demo/mega-dropdown/index.html
{% endcomment %}

<div class="cd-dropdown-wrapper">
  <a class="cd-dropdown-trigger sidebar-toggle" href="#0"></a>
  <nav class="cd-dropdown">
    <a href="#0" class="cd-close">Close</a>
    <ul class="cd-dropdown-content">
      {% assign entries = site.pages | sort: "path" %}
      <li><a href="/introduction">Introduction</a></li>
      <li class="has-children">
        <a href="/open-socialism">The System</a>

        {% include nav-list.html context="/open-socialism/" entries=entries title="Open Socialism" %}
      </li>
      <li class="has-children">
        <a href="/societal-metrics">Societal Metrics</a>

        {% include nav-list.html context="/societal-metrics/" entries=entries title="Societal Metrics" %}
      </li>
      <li class="has-children">
        <a href="/assess-dc">Assess DC</a>

        {% include nav-list.html context="/assess-dc/" entries=entries title="Assess DC" %}
      </li>
      <li><a href="/introduction">Contribute</a></li>
    </ul>
  </nav>
</div>
