{% capture html %}
  <ul class="is-hidden {% if include.topLevel %}cd-secondary-dropdown{% endif %}">
    {% for entry in include.entries %}

        {% if entry.title != "" %}

          {% capture slug    %}{{ entry.url | split: "/"   | last               }}{% endcapture %}
          {% capture current %}{{ entry.url | remove: slug | replace: "//", "/" }}{% endcapture %}

          {% if current == include.context %}
            {% capture children %}{% include navigation.html context=entry.url entries=include.entries topLevel=false %}{% endcapture %}

            <li class="{% if page.url contains entry.url %}active{% endif %} {% if children contains 'li' %}has-children{% endif %}">
                <a href="{{ site.baseurl }}{{ entry.url | remove: '.html' }}">{{ entry.title }}</a>

                {% if children contains "li" %}
                  {{children}}
                {% endif %}
            </li>
          {% endif %}
        {% endif %}
    {% endfor %}
  </ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' | replace:'<ul></ul>', '' }}
