{% capture html %}
  <ul>
    {% for entry in include.entries %}

        {% if entry.title != "" %}

          {% capture slug    %}{{ entry.url | split: "/"   | last               }}{% endcapture %}
          {% capture current %}{{ entry.url | remove: slug | replace: "//", "/" }}{% endcapture %}

          {% if current == include.context %}
              <li class="{% if page.url contains entry.url %}active{% endif %}">
                  <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>

                  {% include navigation.html context=entry.url entries=include.entries %}
              </li>
          {% endif %}
        {% endif %}
    {% endfor %}
  </ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' | replace:'<ul></ul>', '' }}
