<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="sidebar-title">
        <a href="/">
          {{ site.title }}
        </a>
      </div>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">Home</a>

      <a class="sidebar-nav-item" href="/introduction">Introduction</a>
      <a class="sidebar-nav-item" href="/open-socialism">The System</a>
      <a class="sidebar-nav-item" href="/societal-metrics">Societal Metrics</a>
      <a class="sidebar-nav-item" href="/assess-dc">Assessing Capitalism</a>
      <a class="sidebar-nav-item" href="/contribute">Contribute</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>

    <p>{% include icon-github.html username=site.github_username %}</p>
  </div>
</div>
