.tile-list {
  .row {
    margin-bottom: 25px;
  }

  .icon {
    margin-right: 5px;
    font-size: 25px;
    color: #7e57c2;
  }
}

@media (max-width: 48em) {
  .tile-list {
    .row {
      margin-bottom: 0;
    }

    .icon {
      margin-bottom: 15px;
    }
  }
}
