// Custom styling tweaks

.page-links {
  float: right;
  width: 100%;
  margin-bottom: 5px;
}

.page-links a {
  float: right;
  margin-left: 10px;
}

.icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
