---
layout: default
---
<article class="page">
  {% assign pagePath = page.path | replace: 'open-socialism/', '' %}
  {% assign pathParts = page.path | split: '/' %}
  {% assign sectionName = pathParts.first %}

  <div class="page-links">
    <a href="https://github.com/open-socialism/{{sectionName}}/edit/master/{{pagePath}}">Edit</a>
    <a href="https://github.com/open-socialism/{{sectionName}}/issues/new?title={{page.title}} feedback - ">Feedback</a>
  </div>

  <h1 class="page-title">{{ page.title }}</h1>

  {{ content }}

</article>
